* {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    line-height: 18px;
}

.ache6 {
    box-sizing: border-box;
    margin: 1rem;
}

.banner {
    background-image: url(../img/bowl-and-pet-daities-on-green-background\ 1.png);
    background-size: cover;

    box-sizing: border-box;
    height: 410px;
    padding: .3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: flex-end;
}

.buttons-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-section1 {
    background-color: #3C2313;
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    margin: 0;
    padding: 1rem 3rem 1rem 3rem;

}

.footer {
    background-color: #222222;

    font-size: 1rem;
    line-height: 1rem;
    color: white;
    text-align: center;

    box-sizing: border-box;
    height: 2rem;
    margin: 0;
    padding: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.filling-space2 {
    background-color: white;
    
    color:grey;
    font-size: 0.9rem;
    line-height: 0.9rem;

    box-sizing: border-box;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    width: 20rem;
}

.filling-space {
    background-color: #3C2313;
    
    color: white;
    font-size: 2rem;
    line-height: 2rem;

    box-sizing: border-box;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.flex-section1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.head-black {
    background-color: #222222;
    
    color: white;
    font-weight: normal;
    line-height: 18px;

    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
}

.h3-2 {
    color: white;
    font-size: 2rem;
    line-height: 2rem;

    box-sizing: border-box;
    margin: 1rem;
    padding: 0;
    width: content;
}

h4 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #3C2313;
}

h5 {
    font-size: 2.5rem;
    line-height: 2.5rem;
}

h6 {
    font-size: 10px;
    font-weight: normal;
}

.head-orange {
    background-color: #F0A83E;
    
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.header2 {
    font-size: 4rem;
    
    box-sizing: border-box;
    margin: 1rem;
    padding: 1rem;
}

.logo1 {
    box-sizing: border-box;
    padding: 0;
    margin: 1rem;
    height: 3rem;
    /* width: ; */

}

.main {
    box-sizing: border-box;
    height: 410px;
    padding: .3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: flex-end;
}

.mail-logo {
    box-sizing: border-box;
    margin: 1rem;
    padding: 0;
    height: 3rem;
}

.nav1 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;

    font-size: 1rem;
}

.nav2 {
    box-sizing: border-box;
    margin: 1rem;
    padding: 0;

    font-size: 1.3rem;
}

.nav3 {
    box-sizing: border-box;
    padding: 0;
    margin: 1rem;

    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
}

.otro {
    color: grey;
    font-size: 2rem;
    line-height: 2rem;

    box-sizing: border-box;
    margin: 0.5rem;
    padding: 0.5rem;
}

.patita {
    box-sizing: border-box;
    margin: 0.5rem;
    padding: 0.5rem;
    height: 160px;
}

.points {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    box-sizing: border-box;
    margin: 1rem;
    padding: 1rem;

}

.p-points {
    color: grey;
    font-weight: bold;

    box-sizing: border-box;
    margin: 1rem;
    padding: 0;
}

.producto {
    margin: 1rem;
    padding: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.producto2 {
    background-color: #FBFAF6;
    margin: 1rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.precio {
    color: #F0A83E;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.pre-footer {
    background-color: #F0A83E;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.pre-footer2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.reset-button {
    background-color: #8A8787;

    box-sizing: border-box;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    border: none; 

    font-size: 1.5rem;
    line-height: 1.5rem;
    color: white;
    
    text-align: center;
}

.separador{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.subscribe-button {
    background-color: #3C2313;

    color: white;
    font-size: 0.9rem;
    line-height: 0.9rem;
    text-align: center;

    border-radius: 1rem;
    border: none;

    width: fit-content;
    box-sizing: border-box;
    padding: 1rem;
}

.send-button {
    background-color: #F0A83E;

    box-sizing: border-box;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    border: none; 

    font-size: 1.6rem;
    line-height: 1.6rem;
    color: white;
    
    text-align: center;
}

.tit1 {
    box-sizing: border-box;
    border-radius: 1rem;
    width: cover;

    font-size: 3rem;
    line-height: 2rem;

    background-color: rgba(255, 255, 255, 0.8);

    margin: 2rem;
    padding: 2rem;
}

.tit2 {
    margin: 2rem;
    padding: 2rem;

    font-size: 1.6rem;
    line-height: 1.6rem;
}

.tit3 {
    box-sizing: border-box;
    border-radius: 1rem;
    border: none; 

    background-color: #F0A83E;

    color: black;
    font-size: 1.6rem;
    line-height: 1rem;

    margin: 2rem;
    padding: 2rem;
}

@media mobile (max-width: 460px) {
    .head-black {
        display: none;
    }

    .head-orange .nav3 {
        display: none;
    }

    body header div i {
        box-sizing: border-box;
        margin: 0;
        padding: 1rem;
    }
}

@media tablets (max-width: 770px) {
    
}

@media laptop (max-width: 770px) {
    
}













